In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/Users/lamplab/Desktop/Git_mats/Demos/SQL_demos/Exercise_data_project/gym_members_exercise_tracking.csv')

df.columns = df.columns.str.lower()
df.head()

,age,gender,weight (kg),height (m),max_bpm,avg_bpm,resting_bpm,session_duration (hours),calories_burned,workout_type,fat_percentage,water_intake (liters),workout_frequency (days/week),experience_level,bmi
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39

In [5]:
df.shape

(973, 15)

In [6]:
import psycopg2
import csv

In [7]:
## want to convert csv table to useable format for postgresql
from sqlalchemy import create_engine

In [8]:
df.head()

,age,gender,weight (kg),height (m),max_bpm,avg_bpm,resting_bpm,session_duration (hours),calories_burned,workout_type,fat_percentage,water_intake (liters),workout_frequency (days/week),experience_level,bmi
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39

In [11]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:sleep@localhost:5432/postgres"
)

In [13]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("SELECT current_database();"))
    print(result.fetchone())

('postgres',)

In [14]:
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_table_names())

['table_1', 'test_table']

In [17]:
### convert exercise df to sql to query this dataset further using SQL. 

exercise_df = df.copy()

exercise_df.to_sql(
    'exercise_df',
    con=engine,
    if_exists="replace",
    index=False
)

973

In [18]:
print(inspector.get_table_names())

['table_1', 'test_table']