In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [12]:
pip install seaborn

639.70s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/lamplab/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.0.2)
Requirement already satisfied: pandas>=1.2 in /Users/lamplab/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.3.1)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.9.4-cp39-cp39-macosx_10_12_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.0-cp39-cp39-macosx_10_9_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.59.0-cp39-cp39-macosx_10_9_x86_64.whl.metadata (107 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.7-cp39-cp39-macosx_10_9_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in /Users/lamplab/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-11.3.0-cp39-cp39-macosx_10_10_x86_64.whl.metadata (9.0 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/lamplab/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Collecting importlib-resources>=3.2.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading importlib_resources-6.5.2-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: zipp>=3.1.0 in /Users/lamplab/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.23.0)
Requirement already satisfied: pytz>=2020.1 in /Users/lamplab/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/lamplab/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.15.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.9.4-cp39-cp39-macosx_10_12_x86_64.whl (7.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 36.4 MB/s eta 0:00:0000:01
Downloading contourpy-1.3.0-cp39-cp39-macosx_10_9_x86_64.whl (265 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.59.0-cp39-cp39-macosx_10_9_x86_64.whl (2.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 34.0 MB/s eta 0:00:00
Downloading importlib_resources-6.5.2-py3-none-any.whl (37 kB)
Downloading kiwisolver-1.4.7-cp39-cp39-macosx_10_9_x86_64.whl (65 kB)
Downloading pillow-11.3.0-cp39-cp39-macosx_10_10_x86_64.whl (5.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 36.7 MB/s eta 0:00:00
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib, seaborn
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9/9 [seaborn]m8/9 [seaborn]ib]
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.59.0 importlib-resources-6.5.2 kiwisolver-1.4.7 matplotlib-3.9.4 pillow-11.3.0 pyparsing-3.2.3 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [16]:
pip install openpyxl

1096.75s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [2]:
print("Hellow World")

Hellow World

In [3]:
df = pd.read_excel('/Users/lamplab/Desktop/Python dissertation Sleep data (backup)/df_imputed_final (dissertation data).xlsx')

df.reset_index(drop=True, inplace=True)
df.head()

,Unnamed: 0,subject,visit,day_of_participation,group,training_status,wurss,illness,phase,week_sync,...,nap,tst_total,net_sleep_total,net_waso,sleep_q_1,fatigue_sleep_1,sleepiness_sleep_1,fatigue_wake_1,sleepiness_wake_1,day_of_week
0,451,ORC_02,2,2,Con,Con,4.0,no,Training,1,...,0,452.992702,409.629944,43.362733,4,2,7,1,3,2.0
1,452,ORC_02,3,3,Con,Con,NaN,NaN,Training,2,...,0,452.992634,409.630132,43.362412,4,2,5,4,5,3.0
2,453,ORC_02,4,4,Con,Con,NaN,NaN,Training,2,...,1,494.000000,462.000000,32.000000,4,4,5,3,4,4.0
3,454,ORC_02,5,5,Con,Con,NaN,NaN,Training,2,...,1,468.000000,431.000000,37.000000,3,6,7,3,4,5.0
4,455,ORC_02,6,6,Con,Con,NaN,NaN,Training,2,...,0,413.000000,381.000000,32.000000,2,5,9,3,6,6.0

In [4]:
df.columns = df.columns.str.lower()

# list(df.columns)

df.drop('unnamed: 0', axis=1, inplace=True)

df.head(15)

,subject,visit,day_of_participation,group,training_status,wurss,illness,phase,week_sync,visit_date,...,nap,tst_total,net_sleep_total,net_waso,sleep_q_1,fatigue_sleep_1,sleepiness_sleep_1,fatigue_wake_1,sleepiness_wake_1,day_of_week
0,ORC_02,2,2,Con,Con,4.0,no,Training,1,6/23/21,...,0,452.992702,409.629944,43.362733,4,2,7,1,3,2.0
1,ORC_02,3,3,Con,Con,NaN,NaN,Training,2,6/24/21,...,0,452.992634,409.630132,43.362412,4,2,5,4,5,3.0
2,ORC_02,4,4,Con,Con,NaN,NaN,Training,2,6/25/21,...,1,494.000000,462.000000,32.000000,4,4,5,3,4,4.0
3,ORC_02,5,5,Con,Con,NaN,NaN,Training,2,6/26/21,...,1,468.000000,431.000000,37.000000,3,6,7,3,4,5.0
4,ORC_02,6,6,Con,Con,NaN,NaN,Training,2,6/27/21,...,0,413.000000,381.000000,32.000000,2,5,9,3,6,6.0
5,ORC_02,7,7,Con,Con,NaN,NaN,Training,2,6/28/21,...,0,504.000000,469.000000,35.000000,3,6,9,3,6,7.0
6,ORC_02,rest1,8,Con,Con,NaN,NaN,Training,2,6/29/21,...,0,488.000000,451.000000,37.000000,4,5,7,5,8,1.0
7,ORC_02,8,9,Con,Con,3.0,no,Training,2,6/30/21,...,0,452.993371,409.630556,43.362762,2,6,9,4,4,2.0
8,ORC_02,9,10,Con,Con,NaN,NaN,Training,3,7/1/21,...,1,499.000000,462.000000,37.000000,3,5,7,4,7,3.0
9,ORC_02,10,11,Con,Con,NaN,NaN,Training,3,7/2/21,...,0,503.000000,460.000000,43.000000,2,3,5,4,8,4.0
10,ORC_02,11,12,Con,Con,NaN,NaN,Training,3,7/3/21,...,1,512.000000,474.000000,38.000000,3,6,7,4,6,5.0
11,ORC_02,12,13,Con,Con,NaN,NaN,Training,3,7/4/21,...,0,545.000000,501.000000,44.000000,4,5,6,6,6,6.0
12,ORC_02,13,14,Con,Con,NaN,NaN,Training,3,7/5/21,...,0,510.000000,472.000000,38.000000,3,5,7,3,3,7.0
13,ORC_02,rest2,15,Con,Con,NaN,NaN,Training,3,7/6/21,...,0,451.000000,416.000000,35.000000,4,5,7,2,4,1.0
14,ORC_02,14,16,Con,Con,0.0,no,Training,4,7/7/21,...,0,481.000000,446.000000,35.000000,1,4,5,1,2,2.0