In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/Users/lamplab/Desktop/Git_mats/Demos/Exercise_data_project/gym_members_exercise_tracking.csv')

df.columns = df.columns.str.lower()
df.head()

,age,gender,weight (kg),height (m),max_bpm,avg_bpm,resting_bpm,session_duration (hours),calories_burned,workout_type,fat_percentage,water_intake (liters),workout_frequency (days/week),experience_level,bmi
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39

In [5]:
df.shape

(973, 15)

In [6]:
import psycopg2
import csv

In [7]:
## want to convert csv table to useable format for postgresql
from sqlalchemy import create_engine

In [8]:
df.head()

,age,gender,weight (kg),height (m),max_bpm,avg_bpm,resting_bpm,session_duration (hours),calories_burned,workout_type,fat_percentage,water_intake (liters),workout_frequency (days/week),experience_level,bmi
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39

In [9]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:sleep@localhost:5432/postgres"
)

In [10]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("SELECT current_database();"))
    print(result.fetchone())

('postgres',)

In [11]:
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_table_names())

['table_1', 'test_table', 'exercise_df']

In [ ]:
### convert exercise df to sql to query this dataset further using SQL. 

exercise_df = df.copy()

exercise_df.to_sql(
    'exercise_df',
    con=engine,
    if_exists="replace",
    index=False
)

973

In [15]:
print(inspector.get_table_names())

['table_1', 'test_table', 'exercise_df']

In [17]:
## Let's import another csv to sql

df_2 = pd.read_csv('/Users/lamplab/Desktop/Git_mats/Demos/Sleep_data_project/Sleep_health_and_lifestyle_dataset.csv')

df_2.columns = df_2.columns.str.lower()

df_2.head()

,person id,gender,age,occupation,sleep duration,quality of sleep,physical activity level,stress level,bmi category,blood pressure,heart rate,daily steps,sleep disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [18]:
list(df_2.columns)

['person id',
 'gender',
 'age',
 'occupation',
 'sleep duration',
 'quality of sleep',
 'physical activity level',
 'stress level',
 'bmi category',
 'blood pressure',
 'heart rate',
 'daily steps',
 'sleep disorder']

In [19]:
df_2.rename({'person id':'id',
              'sleep duration': 'sleep_duration',
              'quality of sleep': 'sleep_quality',
              'physical activity level': 'activity_level',
              'stress level': 'stress_level',
              'bmi category':'bmi_cat',
              'blood pressure': 'blood_pressure',
              'heart rate' : 'heart_rate',
              'daily steps': 'daily_steps',
              'sleep disorder': 'sleep_disorder'
}, axis=1, inplace=True)

df_2.columns

Index(['id', 'gender', 'age', 'occupation', 'sleep_duration', 'sleep_quality',
       'activity_level', 'stress_level', 'bmi_cat', 'blood_pressure',
       'heart_rate', 'daily_steps', 'sleep_disorder'],
      dtype='object')

In [23]:
sleep_df = df_2.copy()

sleep_df.to_sql(name= 'sleep_df',
                con = engine,
                if_exists='replace',
                index=False)

374

In [22]:
print(inspector.get_table_names())

['table_1', 'test_table', 'exercise_df']